{% extends "base.html" %}

{% block content %}
  <h1>Cook list</h1>

  {% if cook_list %}
      <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Experience</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for cook in cook_list %}
        <tr>
          <td>{{ cook.id }}</td>
          <td>{{ cook.first_name }}</td>
          <td>{{ cook.last_name }}</td>
          <td>{{ cook.years_of_experience }}</td>
          <td>
              <a class="btn btn-primary"
                  href="{% url 'restaurant:cook-update' pk=cook.id %}">
                Update
              </a>
            </td>
            <td>
              <a class="btn btn-danger"
                href="{% url 'restaurant:cook-delete' pk=cook.id %} ">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no cooks in the service.</p>
  {% endif %}
{% endblock %}
