{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="text-center">
    Dish Type
  </h1>

  <form action="" method="get" class="form-inline">

    {{ search_form|crispy }}
    <input type="submit" class="btn-primary" value="Search">

  </form>

  <br>

  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish in dish_type_list %}
        <tr>
          <td>
              {{ dish.name }}
          </td>
          <td>
              <a href="{% url 'restaurant:dish-type-update' pk=dish.id %}" class="btn btn-primary">
                Update
              </a>
            </td>
            <td>
              <a
                href="{% url 'restaurant:dish-type-delete' pk=dish.id %}" class="btn btn-danger">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no Type of Dishes in the restaurant.</p>
  {% endif %}
  <a href="{% url 'restaurant:dish-type-create' %}" class="btn btn-primary">
      Create
  </a>
{% endblock %}
